html {
  -epub-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
body { font-family: serif; line-height: 1.8; }
h1, h2 { font-family: sans-serif; }
p { text-indent: 1em; margin: 0; }
